.cards {
    width: 95%;
    margin: 0 auto !important;
}
.card {
max-width: 280px;
height: 360px;
border: 1px solid rgba(228, 227, 227, 0.192);
border-radius: 8px;
cursor: pointer;
overflow: hidden;
transition: 0.4s ease-in-out;
margin: 0 5px;
position: relative;
}
.card:hover {
box-shadow: rgba(240, 235, 235, 0.35) 0px 5px 15px;
border: none;
scale: 1.08;
}
.card img {
width: 100%;
height: 200px;
object-fit: cover;

}
.card .pro_dis {
width: 100px;
height: 20px;
background-color: orange;
position: absolute;
top: 0px;
left: -25px;
transform: rotate(-30deg);

}
.card .pro_dis span {
/* margin-left: 35px; */
display: flex;
justify-content: center;
align-items: center;

}



.card h3 {
font-size: 22px;
font-weight: bold;
margin: 10px 5px;


}
.card p {
font-size: px;
font-weight: 400;
margin: 5px;

}
.card .icon {
display: flex;
flex-direction: column;
gap: 10px;
position: absolute;
top: 80px;
right: -50px;
transition: 0.4s ease-in-out;
}
.card .icon span {
width: 35px;
height: 35px;
line-height: 35px;

border-radius: 50%;
background-color: rgb(194, 149, 4);
display: flex;
align-items: center;
justify-content: center;
transition: 0.4s ease-in-out;
}
.card .icon span:hover {
background-color: transparent;
border: 1px solid rgba(182, 164, 3, 0.664);
}
.card .icon span:hover svg {
    color: black;
}
.card .icon span svg {
font-size: 20px;

}
.card:hover.card .icon {
    right: 10px;
}

@media(max-width:900px) {
    .card {
        max-width: 90% !important;
    }
}
@media(max-width:500px) {
    .card {
        max-width: 90% !important;
        margin-left: 5%;
    }
}
